<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <app-loan-form [loanInformationInput]="loanInformation" (newLoanInformationEvent)="setLoanInformation($event)"></app-loan-form>
      <app-loan-amortization-summary [loanSummaryInput]="loanSummary"></app-loan-amortization-summary>
    </div>

    <div class="col">
      <app-loan-amortization></app-loan-amortization>
    </div>
  
  </div>

</div>

<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<router-outlet></router-outlet>